@CHARSET "ISO-8859-1";


body {
	background: url(/armorytemp/images/bg.jpg) no-repeat top center;
	color: #9eaea6;
	font: 13px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	height:auto;
	text-align: center;
}
a:link {
	color: #ffaf00;
	text-decoration: none;
}
a:visited {
	color: #ffaf00;
	text-decoration: none;
}
a:hover, a:active {
	color: #ffaf00;
	text-decoration: underline;
}

.nopad, .nopad * {
	padding: 0;
	margin: 0;
}
.nopad li {
	list-style: none outside;
}
.nopad a img {
	border: 0;
}
form {
	margin:0;
}

#wrapper {
	margin: 0 auto;
	width: 880px;
}

#header {
	height: 73px;
	margin-bottom: 11px;
	padding-top: 40px;
}

#header h1 {
	background: url(/armorytemp/images/logo.png) no-repeat center center;
	float: left;
	height: 45px;
	margin-top: 16px;
	text-indent: -9999px;
	width: 253px;
}

#header h1 a {
	display: block;
	height: 45px;
	outline: none;
}

#nav {
	background: url(/armorytemp/images/nav.gif) no-repeat center center;
	height: 50px;
	margin-bottom: 5px;
}
#nav ul {
	padding: 10px 0 0 12px;
}
#nav li {
	float: left;
}
#nav li a {
	color: #FFF;
	display: block;
	float: left;
	font: bold 12px/31px tahoma;
	height: 31px;
	text-transform: uppercase;
}
#nav li a span {
	display: block;
	float: left;
	height: 31px;
	padding: 0 16px 0 18px;
}		
#nav li a:hover {
	background: url(/armorytemp/images/hover.gif) no-repeat center left #010202;
	color: #ffaf00;
	text-decoration: none;
}
#nav li a:hover span {
	background: url(/armorytemp/images/hover_right.gif) no-repeat center right;
	cursor: pointer;
}
#search {
	float: right;
	padding: 8px 17px 0 0;
}
#search .input {
	background: url(/armorytemp/images/input.gif) no-repeat center center;
	border: 0;
	color: #FFF;
	font: bold 12px tahoma;
	height: 15px;
	padding: 9px 11px;
	width: 182px;
}
#search .go {
	background: url(/armorytemp/images/go.gif) no-repeat center center #dfa20e;
	border: 0;
	height: 33px;
	width: 33px;
}

/*-----------------------------*/

#main_content {
	background: url(/armorytemp/images/content.png) no-repeat top center #010204;
	min-height: 500px;
	padding: 2px;
	margin-bottom: 2px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	width: 859px;
	text-align:left;
}
html #main_content {
	min-height: 500px;
}

#subnav {
	background: url(/armorytemp/images/thead2.gif) repeat-x top left #181c28;
	height: 32px;
	text-align: center;
	margin-bottom: 35px;
}
#subnav .left, #subnav .right {
	display: block;
	height: 32px;
	width: 10px;
}
#subnav .left {
	background: url(/armorytemp/images/thead_left.gif) no-repeat top left;
	float: left;
}
#subnav .right {
	background: url(/armorytemp/images/thead_right.gif) no-repeat top right;
	float: right;
}
#subnav ul {
	padding-top: 7px;
}
#subnav li {
	display: inline;
	font-size: 11px;
	font-weight: bold;
	padding: 0 18px;
}


.rounded .tcat {
	padding-left: 3px;
	padding-right: 3px;
}

.tcat_left span, .tcat_right span {
	display: block;
	height: 37px;
	width: 14px;
}
.tcat_left {
	background: url(/armorytemp/images/tcat_left.gif) no-repeat top left;
}
.tcat_right {
	background: url(/armorytemp/images/tcat_right.gif) no-repeat top right
}
.tcat .icon {
	 margin-right: 4px;
}

.tborder
{
	background: #191a16;
}
.tcat
{
	background: #13140f url(/armorytemp/images/gradient_tcat.gif) repeat-x top left;
	color: #FFFFFF;
	font-weight: bold;
	padding: 11px;
	line-height: 23px;
}
.tcat a:link, .tcat_alink
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #fff;
	text-decoration: underline;
}
.theadhorde
{
	background: url(/armorytemp/images/headhorde.png) repeat-y top left;
	color: #FFFFFF;
	font-size: 11px;
}
.theadalliance
{
	background: url(/armorytemp/images/headalliance.png) repeat-y top left;
	color: #FFFFFF;
	font-size: 11px;
}
.thead
{
	background: url(/armorytemp/images/ololo.png) repeat-y top left;
	color: #FFFFFF;
	font-size: 11px;
}
.thead a:link, .thead_alink
{
	color: #FFFFFF;
}
.thead a:visited, .thead_avisited
{
	color: #FFFFFF;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #FFFFFF;
}
.tfoot
{
	background: #161616 url(/armorytemp/images/tfoot.gif) repeat-x top left;
}
.even td
{
	background: #42443b;
	border: 1px solid #191a16;
	border-left-color: #505344;
	border-top-color: #505344;
	padding: 6px;
}
.odd td
{
	background: #393b31;
	border: 1px solid #191a16;
	border-left-color: #505344;
	border-top-color: #505344;
	padding: 6px;
}

#footer {
	background: url(/armorytemp/images/footer.png) no-repeat top center;
	color: #a6b6c8;
	font-size: 11px;
	height: 130px;
	/*margin-bottom: 30px;*/
	padding: 15px 0;
	text-align: center;
}
#footer ul, #footer div {
	margin-bottom: 10px;
}
#footer li {
	display: inline;
}
#footer a {
	color: #a6b6c8;
	font-weight: bold;
	margin: 0 3px;
}
	
#footer p {
	color: #597086;
	line-height: 150%;
}

.headings .tcat {
	background: #13140f url(/armorytemp/images/gradient_tcat.gif) repeat-x top left;
	padding: 10px 12px;
}
.headings td, .headings th {
	color: #FFF;
	font: bold 12px tahoma;
}
.headings .tcat_right {
	padding: 0;
	max-width: 20px;
	width: 20px;
}

.headings .tcat_right .inner {

	padding: 8px 22px 10px 20px;
	margin-top: 2px;
}


.columncenter {
	text-align: center;
}

.tborder tbody
{
	font-size: 12px;	
}

.sortArw {
	padding: 0 14px 0 0; 
	margin: 0 0 0 2px; 
	width: 14px; 
	height: 20px; 
	display: inline; 
	background: url('/armorytemp/images/icons/sort-unsorted.gif') no-repeat;
}

th.headerSortDown .sortArw {
	background: url('/armorytemp/images/icons/sort-up.gif') no-repeat;
}

th.headerSortUp .sortArw { 
	background: url('/armorytemp/images/icons/sort-down.gif') no-repeat;
}

.tabs {
	padding-left:22px;
	position:relative;
	width:auto;
}

.tabs .selected-tab {
	background:transparent url(/armorytemp/images/tab-left-selected.gif) no-repeat scroll left top;
}

.tabs .selected-tab a {
	background:transparent url(/armorytemp/images/tab-right-selected.gif) no-repeat scroll right top;
}

.tabs .tab {
	background:transparent url(/armorytemp/images/tab-left.gif) no-repeat scroll left top;
}

.tabs .tab a {
	background:transparent url(/armorytemp/images/tab-right.gif) no-repeat scroll right top;
}

.tabs .selected-tab, .tabs .tab {
	display:block;
	float:left;
	height:30px;
	margin:0 0 0 5px;
	padding-bottom: 0px;
}

.tabs .selected-tab a, .tabs .tab a {
	/*color:#000000;*/
	float:left;
	height:30px;
	margin-left:5px;
	padding:7px 25px 0px 20px;
	font-weight:bold;
	text-decoration:none;
}

.tabs a span {
	font-size: 10px;
	font-weight: normal;
	color:white;
}

.clear {clear:both;}

.altleft {
	background: url(/armorytemp/images/alt_left.gif) no-repeat bottom left #393c32;
	border-bottom: 0;
	border-left: 0;
}
.altright {
	background: url(/armorytemp/images/alt_right.gif) no-repeat bottom right #393c32;
	border-bottom: 0;
	border-right: 0;
}
.alt2
{
	background-color: #393b31;
	/*height:200px;*/
}

.aligncenter {
	text-align: center;
}
.alignleft {
	text-align: left;
}

.homesearchinput {
	width: 400px;
	height: 30px;
	font-size: 24px;
	color:#9EAEA6;
}

.homesearchsubmit {
	height: 37px;
	font-size: 24px;	
}

.blacktext {
	color:#000000;
}

#headertext {
	padding-top:3px;
}

.headericon {
	height:23px;
	width:23px;
	padding-right:5px;
	padding-bottom: 0px;
	position:relative;
	top:8px;
}

img { border: none; }

.tallbanner {
	min-height:110px;
	height:110px;
	vertical-align: top;
}

.tallbanner .leftpane {
	float:left;
	display:block;
	margin-right:5px;
	height:100%;
}

.charname {
	font-size: 36px;
}

.chartitle {
	font-size: 23px;
}

.charlvl {
	font-size: 17px;
}

.charguild {
	font-size:20px;
}


.portraitimg {
	position:relative;
	top:-10px;
}

.charleft {
	border-right: 2px solid #2c2d26;
	vertical-align:top;
}

.charright {
	border-left: 2px solid #47493d;
	vertical-align:top;
	padding-right: 0px;
	padding-bottom: 35px;
	padding-left: 0px;
}

/* from jqueryui 1.7.2 css, tabs section */
.ui-tabs { 
	padding: .2em; 
	zoom: 1; 
}
.ui-tabs .ui-tabs-nav { 
	list-style: none; 
	position: relative; 
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li { 
	position: relative;
	float: left; 
	border-bottom-width: 0 !important; 
	margin: 0 .2em -1px 0; 
	padding: 0; 
}
.ui-tabs .ui-tabs-nav li a { 
	float: left; 
	text-decoration: none; 
	padding: .5em 1em; 
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { 
	/*padding-bottom: 1px;*/ 
	border-bottom-width: 0; 
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { 
	cursor: text; 
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { 
	cursor: pointer; 
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { 
	padding: 1em 1.4em; 
	display: block; 
	border-width: 0;
	background: none; 
}
.ui-tabs .ui-tabs-hide { 
	display: none !important; 
}
/* end jqueryui block */

#tabs, #tabs2 {
	height: 100%;
}

#tabs div, #tabs2 div {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px solid #5c5f52;
	border-bottom-color: #282923;
	border-right-color: #282923;
	background-color: #4d4f44;
	width: 90%;
}

#tabs div.tabcontent, #tabs2 div.tabcontent {
	height: 100%;
}

#tabs div.tabcontent p, #tabs2 div.tabcontent p {
	 font-size: 20px;
	 line-height:160%;
}

#tabs .widetabcontent, #tabs2 .widetabcontent {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px solid #5c5f52;
	border-bottom-color: #282923;
	border-right-color: #282923;
	background-color: #4d4f44;
}


#tabs ul.tabsnarrow, #tabs2 ul.tabsnarrow {
	width: 300px;
}

#tabs ul li, #tabs2 ul li {
	background:transparent url(/armorytemp/images/tab-left.gif) no-repeat scroll left top;
	top: -14px;
	padding-left: 5px;
	margin-right: 10px;
}

#tabs ul li a, #tabs2 ul li a {
	background:transparent url(/armorytemp/images/tab-right.gif) no-repeat scroll right top;
	padding-right: 15px;
}

#tabs ul li a span, #tabs2 ul li a span {
	padding-left: 5px;
	font-size: 10px;
	color: white;	
}

#tabs ul li.ui-tabs-selected, #tabs2 ul li.ui-tabs-selected {
	background:transparent url(/armorytemp/images/tab-left-selected.gif) no-repeat scroll left top;
}

#tabs ul li.ui-tabs-selected a, #tabs2 ul li.ui-tabs-selected a {
	background:transparent url(/armorytemp/images/tab-right-selected.gif) no-repeat scroll right top;
}

.floatright {
	float: right;
}

.achievement {
	display:block;
	background: url('/armorytemp/images/profile-achievement.png') no-repeat top center;
	margin: 0;
	padding: 34px 0px 50px 0px;
	width:90%;
	text-align: center;
}

.achievementimg {
	position:relative;
	top: -85px;
	left: 0px;
	display:inline-block;
}

.achievementborder {
	background: url('/armorytemp/images/profile-achievement-border.png') no-repeat left center;
	position: relative;
	top: -107px;
	left: -66px;
	padding: 30px 30px 30px 30px;
	display:inline-block;
}

.warrior { color:#C69B6D; }
.paladin { color:#F48CBA; }
.hunter { color:#AAD372; }
.mage { color:#68CCEF; }
.warlock { color:#9482CA; }
.priest { color:#FFFFFF; }
.rogue { color:#FFF568; }
.druid { color:#FF7D0A; }
.shaman { color:#0070DE; }
.deathknight { color:#C51E3A; }


.charpanel {
	border: 2px solid #5c5f52;
	border-bottom-color: #282923;
	border-right-color: #282923;
	background-color: #4d4f44;
	/*padding-right: 5px;*/
}

td.items {
	/*border: 2px solid #282923;*/
	min-width: 48px;
	min-height:48px;
	max-width: 48px;
	max-height:48px;
	width: 48px;
	height:48px;
	padding:0 5px 0 0;
}

td.items img {
	border: 2px solid #282923;
	background-color:#3b3c34;
}

td.noitem {
	width: 50%;
	border: none;
}

table.charstats {
	width: 100%;
	height:100%;
}

table.charstats td {
	padding: 0px 2px 10px 2px;
	vertical-align: top;
}

table.charstats td fieldset {
	padding-top: 5px;
	padding-bottom: 2px;
	font-size: 10px;
	color: white;
	height:90%;
	width: 90%;
}

td.charstatscell {
	height:100%;
}

.statsright {
	float: right;
}

.powersection {
	margin-top: 15px;
}

.healthbar {
	background: url('/armorytemp/images/bar-life.gif') repeat-x;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	font-weight:bold;
	color:#ffffff;
}

.manabar {
	background: url('/armorytemp/images/bar-mana.gif') repeat-x;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	font-weight:bold;
	color:#ffffff;
}
.energybar {
	background: url('/armorytemp/images/bar-energy.gif') repeat-x;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	font-weight:bold;
	color:#ffffff;
}
.ragebar {
	background: url('/armorytemp/images/bar-rage.gif') repeat-x;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	font-weight:bold;
	color:#ffffff;
}
.runebar {
	background: url('/armorytemp/images/bar-runic.gif') repeat-x;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	font-weight:bold;
	color:#ffffff;
}
.GoldItem { border-color: #e6cc80 !important; }
.OrangeItem { border-color: #ff8000 !important; }
.PurpleItem { border-color: #A335EE !important; }
.BlueItem { border-color: #0070DD !important; }
.GreenItem { border-color: #1eff00 !important; }
.WhiteItem { border-color: #ffffff !important; }
.GrayItem { border-color: #9d9d9d !important; }

.guildtallbanner {
	min-height: 200px;
	height:200px;
}

.guildname {
	font-size:30px;
	color: #ffaf00;
}

.guildmembers {
	font-size: 24px;
	padding-left: 40px;
}

.guilddetail {
	font-size: 18px;
	padding-left: 50px;
} 

.guildmotd {
	padding-top: 10px;
	width: 50%;
}
.guildmotd span {
	font-size: 18px;
}

.guildmotd div {
	padding-top: 5px;
}

.pagetitle {
	font-size: 30px;
	color: white;

}

.titlesmall {
	font-size: 18px;
	padding-left: 10px;
}

.inlinetabset {
	padding: 0 0 0 0 !important;
	border: 0px solid #5c5f52 !important;
	border-bottom-color: #282923;
	border-right-color: #282923;
	float:left;
	width: 100% !important;
}

.tabswide li{
	top: -1px !important;
}


.rightfloatpane {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px solid #5c5f52;
	border-bottom-color: #282923;
	border-right-color: #282923;
	background-color: #4d4f44;
	width: 200px;
	height:300px;
	float:right;
}

.detailstitle {
	text-decoration: underline;
	font-size: 16px;
}

.medbanner {
	vertical-align middle;
	height: 120px;
	padding-top: 15px;
}

.buff {
	border: 2px solid black;
}

.debuff {
	border: 2px solid red;
}

.itemdetails {
	padding-bottom: 20px;
}

.itemdetails td{
	font-size: 20px;
	line-height:160%;
	vertical-align: top;
}

.smalltext {
	font-size: 12px;
	line-height: 100%;
}


a.firstPg-on {	background: transparent url('/armorytemp/images/arrow-left-rewind.gif') no-repeat scroll 0 0; top: 0 ; }
a.firstPg-off { background: transparent url('/armorytemp/images/arrow-left-rewind-off.gif') no-repeat scroll 0 0; top: 0; cursor: default; }
a.lastPg-on { background: transparent url('/armorytemp/images/arrow-right-forward.gif') no-repeat scroll 0 0; }
a.lastPg-off { background: transparent url('/armorytemp/images/arrow-right-forward-off.gif') no-repeat scroll 0 0; cursor: default; }
a.nextPg-on { background: transparent url('/armorytemp/images/arrow-right.gif') no-repeat scroll 0 0; }
a.nextPg-off { background: transparent url('/armorytemp/images/arrow-right-off.gif') no-repeat scroll 0 0; cursor: default; }
a.prevPg-on { background: transparent url('/armorytemp/images/arrow-left.gif') no-repeat scroll 0 0; }
a.prevPg-off { background: transparent url('/armorytemp/images/arrow-left-off.gif') no-repeat scroll 0 0; cursor: default; }
a.nextPg-on:hover, a.prevPg-on:hover, a.firstPg-on:hover, a.lastPg-on:hover, #pageSelector a.p:hover { background-position: 0 100%;	 }
#paging a, #paging a:visited { height: 24px; width: 32px; display: block; float: left; }
#pageSelector a.p, #pageSelector a.sel { display:block; font-size:11px; height:19px; margin:0 -1px; padding:5px 0 0; text-align:center; text-decoration:none; width:32px;line-height: normal; color: #ffffff; }
#pageSelector a.p { background:transparent url(/armorytemp/images/paging-bg.gif) no-repeat scroll 0 0;	}
#pageSelector a.sel { background: transparent url(/armorytemp/images/paging-bg-select.gif) no-repeat scroll 0 0; color: #fff; }

/* Talent */

.talentContainer {
	background-repeat:no-repeat;
	/*display:block;*/
	/*float:left;*/
	height:709px;
	padding:5px 0 0;
	width:280px;
}

.talentContainer .talentRow {
	height:65px;
	position:relative;
	width:280px;
}

.talentContainer .talent {
	background-position:2px 2px;
	background-repeat:no-repeat;
	display:block;
	height:55px;
	position:absolute;
	width:56px;
}

.talentContainer .talentHolder {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(/armorytemp/images/talents/talent-wrap.gif) no-repeat scroll 0 50%;
	height:52px;
	padding:2px 0 0 2px;
	width:54px;
}

.talentContainer .rankCtr {
	bottom:3px;
	color:#1AFF1A;
	font-size:11px;
	position:absolute;
	right:5px;
	width:15px;
}

.talentContainer .talentRow {
	height:65px;
	position:relative;
	width:280px;
}

.talentContainer .col0 {
left:25px;
top:0;
}
.talentContainer .col1 {
left:85px;
top:0;
}
.talentContainer .col2 {
left:145px;
top:0;
}
.talentContainer .col3 {
left:205px;
top:0;
}

.talentContainer .disabled {
	background-position:0 0 !important;
}

.talentContainer .maxRank {
	background-position:0 100% !important;
}

.talentContainer .disabled .rankCtr {
	color:#FFFFFF !important;
}

.talentContainer  .maxRank .rankCtr {
	color:#FFD100 !important;
}

div.iconhighlight  { height: 43px; width: 43px; background: url('/armorytemp/images/talents/talent-highlight.png') top left no-repeat;  margin: 0!important; padding: 0!important; float: left;}

div.iconhighlight:hover { background-position: bottom left;}

