@CHARSET "ISO-8859-1";

#header h1 {
	background: url(/armorytemp/images/logo.gif) no-repeat center center;
}
#main_content {
	background: url(/armorytemp/images/content.gif) no-repeat top center #010204;
}

#tabs ul li {
	background:transparent url(/armorytemp/images/tab-left.gif) no-repeat scroll left top;
	top:18px; 
	/*padding-left: 5px;*/
	/*margin-right: 10px;*/
}

.achievement {
	background: url('/armorytemp/images/profile-achievement.gif') no-repeat top center;
}

.achievementborder {
	background: url('/armorytemp/images/profile-achievement-border.gif') no-repeat left center;
}