/*заглавная cтрока в таблице*/
.mltbl 	{
		height: 24;
		text-align: left; 
		font-family: Arial; 
		font-weight: bold; 
		color: #fee902;
	}

/*рамка таблици*/
.brtbl 	{
		border-left-width: 1px; 
		border-right-width: 1px;
		border-top-width: 0px; 
		border-bottom-width: 1px; 
		border-color: #000000; 
		border-style: solid;
		max-width: 1px;
	}

